@model EventVM       
     
     @foreach (var item in Model.events)
     {
        
     
               <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="single-event mb-35">
                            <div class="event-date">
                                <h3><a href="event-details.html">@item.eventDetail.date.ToString("dd") <span>@item.eventDetail.date.ToString("MMMM",CultureInfo.CreateSpecificCulture("en-US"))</span></a></h3>
                            </div>
                            <div class="event-content text-left">
                                <div class="event-content-left">
                              
                                    <h4><a href="event-details.html">@item.Name</a></h4>
                                      
                                    <ul>
                                        <li><i class="fa fa-clock-o"></i>@item.eventDetail.startTime.ToString("hh:mm tt",CultureInfo.CreateSpecificCulture("en-US")) - @item.eventDetail.finishTime.ToString("hh:mm tt",CultureInfo.CreateSpecificCulture("en-US"))</li>
                                        <li><i class="fa fa-map-marker"></i>@item.eventDetail.Place</li>
                                    </ul>
                                </div>
                                <div class="event-content-right">
                                    <a class="default-btn" href="event-details.html">join now</a>
                                </div>
                            </div>
                        </div>

                    </div>
                     
               
                        
                      }

     
                  